<!-- Product options card (exact structure) -->
<div class="swiper-slide">
  <div class="se-component se-image-container __se__float- __se__float-none">
    <figure>
      <img src="{imageUrl}" alt="{title}" data-proportion="true" data-align="none" data-file-name="{filename}" data-file-size="0" data-origin="," data-size="," data-rotate="" data-rotatex="" data-rotatey="" style="" width="" height="" data-percentage="auto,auto" data-index="0">
    </figure>
  </div>

  <div class="card">
    <div class="card-info">
      <div class="card-title">{title}</div>
      <div class="card-description">{description}</div>
      <div class="card-price">{priceWithSymbol}</div>
      <button class="more-info-btn">More Information</button>
    </div>
  </div>
</div>